[hidden] {
  display: none !important;
}

body {
  font-family: -apple-system, "system-ui", "Segoe UI";
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.comment-wrapper {
  /* border: 1px solid black; */
  margin-bottom: 15px;
  border-radius: 10px;
  max-width: 300px;
}

.comment-name {
  /* border: 1px solid black; */
  display: inline-block;
  /* border-radius: 8px; */
  font-size: 14px;
  margin-right: 4px;
  font-weight: bolder;
  display: inline-flex;
}

.comment-text {
  /* border: 1px solid black; */
  /* border-radius: 8px; */
  font-size: 14px;

  display: inline;
}

button {
  background-color: #707070;
  font-size: 20px;
  margin: 15px;
  border-radius: 6px;
  border: none;
  padding: 17px 40px;
  text-transform: uppercase;
  transition: all 500ms ease;
}

button:hover {
  transform: scale(1.2);
}

.overlay {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
}

.enter-comment-text {
  height: 100px;
  width: 300px;
}

.enter-comment-text,
.name {
  border-radius: 10px;
  border: 1px solid black;
}

.btn-add-comment {
  font-size: 12px;
  margin: 0;
}

.btn-pages {
  padding: 8px;
  margin: 0 6px;
  border-radius: 12px;
}
